{% from "macros.html" import day_selecter, distance_selecter with context %}
{% extends "layout.html" %}
{% block body %}
<div>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
  <script>
  $(document).ready(function(){
      var archer_details = {{ archer_dict|tojson }};
      $("#id").val(archer_details.id);

      var name_header_str = "<h3> " + archer_details.firstname
                            + " " + archer_details.lastname
                            +  "</h3>"
      $("#name_header").html(name_header_str);

  	  $("#discipline").val(archer_details.discipline);
      $("#owns_equipment").prop("checked", archer_details.owns_equipment);
      $("#draw_weight").val(archer_details.draw_weight);
      $("#draw_length").val(archer_details.draw_length);
      $("#equipment_description").val(archer_details.equipment_description);

      $("#distance_selecter").val(archer_details.distance);
      $("#day_selecter").val(archer_details.joad_day);

  });
  </script>
  <form action="{{ url_for('edit_details') }}" method=post>
    <input type=hidden name=id id=id>
    <dl>
      <div id=name_header>
      </div>
      <br>
      <br>

      <div>
      Primary Discipline:
      <select name=discipline id=discipline>
        <option value="Compound">Compound</option>
        <option value="Recurve">Recurve</option>
        <option value="Barebow">Barebow</option>
      </select>
      </div>
      <br>

      <div>
        Owns Equipment?
      <input type="checkbox" name=owns_equipment id=owns_equipment>
      </div>
      <br>

      <div>
      Draw weight:
      <input type=number name=draw_weight id=draw_weight>lbs
      </div>
      <br>

      <div>
      Draw length:
      <input type=number name=draw_length id=draw_length>
      </div>
      <br>

      <div>
      Equipment Description:
      <textarea name=equipment_description id=equipment_description></textarea>
      </div>
      <br>

      <div>
      Normal Distance:
      {{ distance_selecter() }}
      </div>
      <br>

      <div>
      Primary Day:
      {{ day_selecter() }}
      </div>
      <br>

      <dd><input type=submit value=Enter>
    </dl>
  </form>
</div>
{% endblock %}
