{% extends "layout.html" %}
{% block body %}
<div>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='input_data.js') }}"></script>
  <form method="post" action="">
<table style="width:100%" id="main_table">
  <tr>
      <td>
        <input type="text" id="master_date">
      </td>
      <td>
        <!-- name -->
      </td>
      <td>
        <!-- discipline -->
      </td>
      <td>
        <!-- draw weight -->
      </td>
      <td>
        <input type="text" id="master_distance">
      </td>
      <td>
        <input type="text" id="master_target_size">
      </td>
      <td>
        <input type="checkbox" id="master_tournament">
      </td>
      <td>
        <!-- Score -->
      </td>
      <td>
        <input type="text" id="master_num_arrows">
      </td>
      <td>
        <!-- Notes -->
      </td>
  </tr>
<tr>
    <th>
      Date
    </th>
    <th>
      Name
    </th>
    <th>
      Discipline
    </th>
    <th>
      Draw Weight
    </th>
    <th>
      Distance
    </th>
    <th>
      Target Size
    </th>
    <th>
      Tournament
    </th>
    <th>
      Score
    </th>
    <th>
      Num Arrows
    </th>
    <th>
      Notes
    </th>
</tr>
</table>
<input type=button value="Add Row" id="add_row_button" onclick='create_row({{ entries|tojson }})'>
<input type=submit value=Enter>
</form>
</div>
{% endblock %}
